main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.maindiv{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.15rem 0;
  border-radius: .625rem;
  text-decoration: none;
  background-color: #FF5473;
  color: white;
  cursor: pointer;
}

main select{
  width: 100%;
}

main img{
  position: fixed;
  width: 10rem;
  cursor: pointer;
  top: 36%;
  left: 42%;
}

.hidden{
  display: none;
  position: none;
  width: 0;
  height: 0;
}

.battle_animation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: battle_animation 1000ms ease 0s 2 normal none;
}

.poke_battle{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.invert{
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes battle_animation {
	0%,
	50%,
	100% {
		opacity: 1;
    background-color: white;
	}

	25%,
	75% {
    background-color: none;
		opacity: 0;
	}
}

@media (max-width: 420px) {

  main{
    max-width: 100vw;
    padding-left: 1rem;
  }

  .pokemon_names h1 {
    font-size: 320px;
  }

  .pokemon_names h2 {
    top: 560px;
    font-size: 320px;
  }



  .pokemon_status_statistics{
    padding: 0.875rem 0.1875rem 1.875rem;
    min-height: 57.9vh;
  }

  .pokemon_status_statistics h3{
    padding-left: 2.2rem;
    font-size: 1rem;

  }

  .pokemon_status img{
    max-width: 5.125rem;
  }

}

